{% extends './main.html' %}

{% block titulo %}
Alta de Paciente
{% endblock %}

{% block content %}
<div>
    <h2>Alta de Paciente</h2>
    <h3>Alta de Usuario</h3>
    
    <form method="post" action="{{ url_for('paciente_blueprint.alta_paciente') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <br>
    <h3>Alta de Paciente</h3>

      <div class="mb-3">
            <label for="documento" class="form-label">Documento</label>
            <input type="text" class="form-control" id="documento" name="documento" required>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" >
        </div>
        <div class="mb-3">
            <label for="domicilio" class="form-label">Domicilio</label>
            <input type="text" class="form-control" id="domicilio" name="domicilio" >
        </div>
        <button type="submit" class="btn btn-primary">Guardar y continuar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>
{% endblock %}