{% extends './base.html' %}

{% block titulo %}
Login
{% endblock  %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock  %}

{% block container %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form class="form-signin  w-100 m-auto" form method="POST" action="{{ url_for('register') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> 
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock  %}